button
{
    border:0;
    width: 12vw;
    height: 6vh;
    color:var(--branco);
    background-color: var(--roxo-claro);
    border-radius: 8px;
    font-weight: bold;
    font-size: 1rem;

}

button:hover
{
    color: var(--branco);
    background-color: var(--laranja);
    cursor: pointer;
}

footer
{
    width: 100%;
    background-color: var(--roxo-claro);
    display: flex;
    align-items:center;
    justify-content: space-around;
    color: var(--branco);
    margin-top:10vh;
    position: absolute;
    bottom: 0;
  
    
}
.footerLogo
{
    max-width: 100px;
    margin-left: -20vh;
}

.logoRedes
{
    display: grid;
    grid-template-columns: 50px 50px ;
    grid-template-rows: 30px 30px ;
    align-items: center;
    justify-content:center ;
}

.logoRedes img
{
    max-width:30%;
    cursor: pointer;
}
.footerCTA
{
    font-size:1.5rem;
}

.pagTitle
{
    color:var(--branco);
    align-self: start;
    justify-self: start;
    margin-top:10vh;
}
.pagTitle img
{
    max-width: 100px;
    margin-left: -89vh;
}
.pagTitle p{
    color: var(--preto);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
    margin-left: -109vh;
    margin-top: 15vh;
}
