
.cta
{
    background-color: var(--preto);
    height: 50px;
    position:  fixed;
    top: 0;
    width: 100%;
    display: flex;
    gap: 25%;
    justify-content: center;
    align-items: center
   

}
.cta h3
{   
    
    color: var(--laranja);
    font-family: Arial;
    margin-top:10px
}
.logoMinhaBolsa
{
    object-fit: contain;
    max-width: 8%;
    position: inherit;
    left: 0;
    padding-left: 3px;
}
.menu
{   object-fit: contain;
    max-width: 2.5%;
    position: inherit;
    right: 0;
    padding-right: 10px;
}