form
{   
    background-color: var(--azul-background);
    display: flex;
    flex-direction:column;
    width: 25vw;
    margin-top: 12vh;
    padding: 5vh 5vw 5vh 5vw;
    gap: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cinza-background);
    font-size: 0.8rem;
    border-radius:8px

}

form input
{
    height: 5vh;
    width: 25vw;
    background-color: var(--branco);
    border: none;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
}
.bemVindoLogin
{
    display: flex;
    gap: 6px;
    font-size: 1.5rem;
    
}
.bemVindoLogin img
{   object-fit: contain;
    max-width: 40%;
    margin-top: -25px;
}

.ou
{
    display: flex;
    flex-direction:row;
    gap: 4px;
    align-items: center;
    margin-left: 1rem;
}
.ou hr
{
    width:40%;
}
.logoRedes
{
    display: flex;
    justify-content:space-around;
}
.logoRedes img
{
    width: 50px;
    object-fit: contain;
}
#facebook
{
  width:45px
}

#apple
{
    width:60px
}
button
{
    align-self: center;
}
.irCadastrar
{
    align-self: end;
    margin-right: -20px;
    
}
.irCadastrar a
{
    color:var(--laranja);
    text-decoration:none;
    cursor: pointer;
}
a:hover
{
    text-decoration: underline;
}