.menulateral
{   
    position: fixed;
    top: 0;
    right: 0;
    width: 15vw;
    height:100%;
    background-color: var(--preto);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 30px;
    opacity: 1;

}

.menulateral img {
    object-fit: contain;
    max-width: 130px;
}
.icons
{
    width: 30px
}
.menulateral span {
    display: flex;
    flex-direction:row;
    align-items: center;
    gap: 10px;
    color: var(--branco);
    
}