
.minhaSessaoGrid
{    margin-top:10vh;
    display: grid;
    grid-template-areas:
    "titulo ads"
    "form ads";
    width: 90vw;
    grid-template-rows: 20vh 30vh;
    padding-left: 4vw;
    
    
}
.minhaSessao
{
    display: flex;
    color: var(--branco);
    grid-area: form;
    height: 100%;
    width: 100%;
    align-self: start;
    gap: 10px;


}
.minhaSessao div
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.tituloIMG
{
    grid-area: titulo;
    color: var(--branco);
    height: 20%;
}

.tituloIMG img
{
    max-width: 200px;
}
.anuncio{
    grid-area: ads;
    width:10vw;
    justify-self: start;
   
    
    
}

.anuncio img
{
   object-fit: contain;
   max-height: 150%;
   
}

.minhaSessao input
{
    background-color: var(--azul-input);
    border: none;
    height: 4vh;
    border-radius: 3px;
    font-size: 1rem;
    color: var(--branco);
}

