:root
{
    --azul-background: #150096;
    --roxo-claro: #422C6C;
    --preto: #1E1E1E;
    --laranja:#FF7F0A;
    --branco:#FFFFFF;
    --azul-claro: #4ABDAC;
    --cinza-background: #EDEDED;
    --cinza-background-escuro:#B0AFAF;
    --azul-input: #2421D4;


}

*
{
    margin: 0;
    padding: 0;

}
body
{
    background-color: var(--cinza-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.backgroundCinza
{
    background-color: var(--branco);
}
