
.minhaSessaoGrid
{    margin-top:10vh;
    display: grid;
    grid-template-areas:
    "titulo ads"
    "form ads";
    width: 90vw;
    grid-template-rows: 20vh 30vh;
    padding-left: 4vw;
    
    
}
.minhaSessao
{
    display: flex;
    color: var(--roxo-claro);
    grid-area: form;
    height: 100%;
    width: 100%;
    align-self: start;
    gap: 10px;


}
.minhaSessao div
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.tituloIMG
{
    grid-area: titulo;
    color: var(--preto);
    height: 20%;
    margin-left: -6vh;
    margin-top: 10vh;
    font-size: 2vh;

}

.tituloIMG img
{
    max-width: 100px;
}


.minhaSessao input
{
    background-color: var(--cinza-background-escuro);
    border: none;
    height: 4vh;
    border-radius: 3px;
    font-size: 1rem;
    color: var(--preto);
}
.sexo{
    width: 13vh;
    height: 50px;
    font-size: 20px;
    background: var(--cinza-background-escuro);
    padding-left: 100px
}