<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MINHA BOLSA</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/cta.css">
    <link rel="stylesheet" href="css/title.css">
    <link rel="stylesheet" href="css/homeBackground.css">
    <link rel="stylesheet" href="css/components.css">
</head>
<body>
    <header class="cta">
        <h3>Aqui você encontra o tipo de sua bolsa concedida</h3>
    </header>
    <section class="title">
        <img src="img/minhaBolsaLOGO.png" alt="">
        <button onclick="irParaLogin()">Login</button>
        <button onclick="irParaCadastro()">Criar conta</button>
    </section>
    <section>
        <div class="homeBackground">
            
        </div>
    </section>
    <script src="js/script.js"></script>
    
</body>
</html>