<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MINHA BOLSA</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/cta.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/title.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/components.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/menuLateral.css')}}">
   
<body>
    <header class="cta">
        <img src="{{url_for('static', filename='img/minhabolsalogo.png')}}" alt="">
        <h3>Aqui você encontra o tipo de sua bolsa concedida</h3>
        <img src="{{ url_for('static', filename='img/Vector.png') }}" class="menu" alt="">
    </header>
    <aside class="menulateral">
        <img src="{{ url_for('static', filename='img/minhabolsalogo.png')}}" alt="">
        <div>
            <span> <img src="{{ url_for('static', filename='img/arcticons_session.png') }}" class="icons"> <a href="{{ url_for('minhasessao')}}">Minha sessão</a></span>
            <span> <img src="{{ url_for('static', filename='img/mdi-light_logout.png') }}" class="icons"> <a href="{{ url_for('minhasmetricas')}}">Metricas</a></span>
            <span> <img src="{{ url_for('static', filename='img/mdi-light_logout (1).png') }}" class="icons"> <a href="{{ url_for('index')}}">Logout</a></span>
        </div>
    </aside>
    <section class="title">
        <img src="{{url_for('static', filename='img/minhaBolsaLOGO.png')}}" alt="">
        <button onclick="irParaMinhaSessao()">Iniciar Sessão</button>
        
    </section>
    
    
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>