<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/cta.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/components.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/menuLateral.css')}}">
   
    

    <title>MINHABOLSA - LOGIN</title>
</head>
<body class="backgroundCinza">
    <header class="cta">
        <img src="{{url_for('static', filename='img/minhaBolsaLOGO.png')}}" class="logoMinhaBolsa" alt="">
        <h3>Aqui você encontra o tipo de sua bolsa concedida</h3>
    </header>
    <form>
        <div class="bemVindoLogin">
            <p>Bem vindo ao</p>
            <img src="{{url_for('static', filename='img/minhaBolsaLOGO.png')}}" alt=""> <p>!</p>
        </div>
        <label for="emailLogin">Email</label>
        <input type="email" id="emailLogin">
        <label for="passwordLogin">Senha</label>
        <input type="password" id="passwordLogin">
        <button onclick="irParaMinhaSessao()">Entrar</button>
        <div class="irCadastrar">
            <p>Não possui conta? <a href="{{ url_for('cadastro') }}">Cadastre-se</a></p>
        </div>
    </form>
<script src="{{url_for('static', filename='js/script.js')}}"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</body>
</html>