<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MINHA BOLSA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cta.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/title.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menulateral.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/minhasessao.css')}}">
</head>
<body>
    <header class="cta">
        <img src="{{url_for('static', filename='img/minhabolsalogo.png')}}" alt="">
        <h3>Aqui você encontra o tipo de sua bolsa concedida</h3>
        <img src="{{ url_for('static', filename='img/Vector.png') }}" class="menu" alt="">
    </header>
    <aside class="menulateral">
        <img src="{{ url_for('static', filename='img/minhabolsalogo.png')}}" alt="">
        <div>
            <span> <img src="{{ url_for('static', filename='img/arcticons_session.png') }}" class="icons"> <a href="{{ url_for('minhasessao')}}">Minha sessão</a></span>
            <span> <img src="{{ url_for('static', filename='img/mdi-light_logout.png') }}" class="icons"> <a href="{{ url_for('minhasmetricas')}}">Metricas</a></span>
            <span> <img src="{{ url_for('static', filename='img/mdi-light_logout (1).png') }}" class="icons"> <a href="{{ url_for('index')}}">Logout</a></span>
        </div>
    </aside>
    <section>
        <div class="title">
            <h2>Confira o seu resultado.</h2>
      </div>
    
    </section>
         <footer>
            <img src="{{url_for('static', filename='img/minhabolsalogo.png')}}" class="footerLogo" alt="">
            <p class="footerCTA">Entre em contato para mais informações.</p>
            <div class="contatos">
                <p>Encontre-nos nas redes sociais</p>
                <div class="logoRedes">
                    <img src="{{ url_for('static', filename='img/facebook 1.png') }}" alt="">
                    <img src="{{ url_for('static', filename='img/instagram 1.png') }}" alt="">
                    <img src="{{ url_for('static', filename='img/whatsapp 1.png') }}" alt="">
                    <img src="{{ url_for('static', filename='img/logotipo-do-pinterest 1.png') }}" alt="">
                    <img src="{{ url_for('static', filename='img/twitter 1.png') }}" alt="">
                    <img src="{{ url_for('static', filename='img/youtube 1.png') }}" alt="">
                </div>
                <p>contato@minhabolsa.com.br</p>
            </div>
         </footer>
  
  
    
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>