<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MINHA BOLSA</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/cta.css">
    <link rel="stylesheet" href="../css/title.css">
    <link rel="stylesheet" href="../css/components.css">
    <link rel="stylesheet" href="../css/menulateral.css">
    <link rel="stylesheet" href="../css/minhasessao.css">
</head>
<body>
    <header class="cta">
        <img src="../img/minhaBolsaLOGO.png" alt="">
        <h3>Aqui você encontra o tipo de sua bolsa concedida</h3>
        <img src="../img/Vector.png" class="menu" alt="">
    </header>
    <aside class="menulateral">
        <img src="../img/minhaBolsaLOGO.png" alt="">
        <div>
            <span> <img src="../img/arcticons_session.png" class="icons"> <a href="minhaSessao.html">Minha sessão</a></span>
            <span> <img src="../img/mdi-light_logout.png" class="icons"> <a href="minhaMetricas.html">Metricas</a></span>
            <span> <img src="../img/mdi-light_logout (1).png" class="icons"> <a href="../index.html">logout</a></span>
        </div>
    </aside>
    <section class="minhaSessaoGrid">
        <div class="tituloIMG">
              <p>Preencha os campos abaixo para obter seus resultados.</p>
        </div>
        <form action="" class="minhaSessao">
            <div>
                <label for="nomeInstituicao">Nome da instituição:</label>
                <input type="nomeInstituicao">
                <label for="moduloEnsino">Módulo de ensino:</label>
                <input type="moduloEnsino">
                <label for="deficiencia">Você possui algum tipo de deficiência?</label>
                <input type="deficiencia">
            </div>
            <div>
                <label for="nomeCurso">Nome do curso:</label>
                <input type="nomeCurso">
                <label for="turno">Turno</label>
                <span>
                    <input type="turno">
                    <label for="cidade">Cidade-uf:</label>
                    <input type="cidade">
                </span>
                <span>
                    <label for="sexo">Sexo</label>
                    <select for="sexo">
                        <option>Selecione uma opção</option>
                        <option>Feminino</option>
                        <option>Masculino</option>
                    </select>
                    <label for="racaCor">Raça/cor</label>
                    <input type="racaCor">
                </span>
            </div>
        </form>
    </section>
         <button onclick="irParaMinhasMetricas()">Calcular resutado</button>
         <footer>
            <img src="../img/minhaBolsaLOGO.png" class="footerLogo" alt="">
            <p class="footerCTA">Entre em contato para mais informações.</p>
            <div class="contatos">
                <p>Encontre-nos nas redes sociais</p>
                <div class="logoRedes">
                    <img src="../img/facebook 1.png" alt="">
                    <img src="../img/instagram 1.png" alt="">
                    <img src="../img/whatsapp 1.png" alt="">
                    <img src="../img/youtube 1.png" alt="">
                 
                </div>
                <p>contato@minhabolsa.com.br</p>
            </div>
         </footer>
  
  
    
    <script src="../js/script.js"></script>
</body>
</html>